/* CSS goes here! */

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
}

.main-article-index {
  max-width: 1000px;
  min-height: 750px;
  margin: 0 auto;
  padding: 40px;
  background-image: url("../images/mountain-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 400px) {
  .main-article-index {
    max-width: 1000px;
    min-height: 750px;
    margin: 0 auto;
    padding: 40px;
    background-image: url("../images/mountain.jpg");
    background-repeat: no-repeat;
  }
}

header {
  text-align: center;
}

.no-hover:hover {
  opacity: 1;
}

ul.menu {
  list-style: none;
  text-align: left;
}

li.menu-item {
  display: inline-block;
  padding-right: 10px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  padding: 10px;
}

figure {
  width: 180px;
  margin-right: 10px;
  margin-bottom: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure img {
  width: 180px;
  height: 150px;
  object-fit: cover;
}

figcaption {
  text-align: center;
  width: 180px;
  color: black;
  height: 35px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.6;
}

iframe {
  padding: 10px;
}